*.SLDPRT filter=lfs diff=lfs merge=lfs -text lockable
*.asmdot filter=lfs diff=lfs merge=lfs -text lockable
*.asmprp filter=lfs diff=lfs merge=lfs -text lockable
*.btl filter=lfs diff=lfs merge=lfs -text lockable
*.cex filter=lfs diff=lfs merge=lfs -text lockable
*.cog filter=lfs diff=lfs merge=lfs -text lockable
*.drwdot filter=lfs diff=lfs merge=lfs -text lockable
*.drwprp filter=lfs diff=lfs merge=lfs -text lockable
*.e3d filter=lfs diff=lfs merge=lfs -text lockable
*.easm filter=lfs diff=lfs merge=lfs -text lockable
*.easmx filter=lfs diff=lfs merge=lfs -text lockable
*.edrw filter=lfs diff=lfs merge=lfs -text lockable
*.edrwx filter=lfs diff=lfs merge=lfs -text lockable
*.edw filter=lfs diff=lfs merge=lfs -text lockable
*.enovwebdoc filter=lfs diff=lfs merge=lfs -text lockable
*.eprt filter=lfs diff=lfs merge=lfs -text lockable
*.idf filter=lfs diff=lfs merge=lfs -text lockable
*.iges filter=lfs diff=lfs merge=lfs -text lockable
*.journal.doc filter=lfs diff=lfs merge=lfs -text lockable
*.p2m filter=lfs diff=lfs merge=lfs -text lockable
*.prtdot filter=lfs diff=lfs merge=lfs -text lockable
*.prtprp filter=lfs diff=lfs merge=lfs -text lockable
*.sldasm filter=lfs diff=lfs merge=lfs -text lockable
*.sldblk filter=lfs diff=lfs merge=lfs -text lockable
*.sldbombt filter=lfs diff=lfs merge=lfs -text lockable
*.sldbomtbt filter=lfs diff=lfs merge=lfs -text lockable
*.sldclr filter=lfs diff=lfs merge=lfs -text lockable
*.slddrt filter=lfs diff=lfs merge=lfs -text lockable
*.slddrw filter=lfs diff=lfs merge=lfs -text lockable
*.slddwg filter=lfs diff=lfs merge=lfs -text lockable
*.sldedb filter=lfs diff=lfs merge=lfs -text lockable
*.sldfvt filter=lfs diff=lfs merge=lfs -text lockable
*.sldgtolfvt filter=lfs diff=lfs merge=lfs -text lockable
*.sldholtbt filter=lfs diff=lfs merge=lfs -text lockable
*.sldlfp filter=lfs diff=lfs merge=lfs -text lockable
*.sldmat filter=lfs diff=lfs merge=lfs -text lockable
*.sldnotesstl filter=lfs diff=lfs merge=lfs -text lockable
*.sldreg filter=lfs diff=lfs merge=lfs -text lockable
*.sldrevtbt filter=lfs diff=lfs merge=lfs -text lockable
*.sldsffvt filter=lfs diff=lfs merge=lfs -text lockable
*.sldstd filter=lfs diff=lfs merge=lfs -text lockable
*.sldtbt filter=lfs diff=lfs merge=lfs -text lockable
*.sldweldfvt filter=lfs diff=lfs merge=lfs -text lockable
*.sldwldtbt filter=lfs diff=lfs merge=lfs -text lockable
*.sldxml filter=lfs diff=lfs merge=lfs -text lockable
*.smggeom filter=lfs diff=lfs merge=lfs -text lockable
*.smgxml filter=lfs diff=lfs merge=lfs -text lockable
*.stp filter=lfs diff=lfs merge=lfs -text lockable
*.swb filter=lfs diff=lfs merge=lfs -text lockable
*.swj filter=lfs diff=lfs merge=lfs -text lockable
*.swp filter=lfs diff=lfs merge=lfs -text lockable
*.swstd filter=lfs diff=lfs merge=lfs -text lockable
*.dwg filter=lfs diff=lfs merge=lfs -text lockable
*.igs filter=lfs diff=lfs merge=lfs -text lockable
*.ipt filter=lfs diff=lfs merge=lfs -text lockable
*.obj filter=lfs diff=lfs merge=lfs -text lockable
*.prt filter=lfs diff=lfs merge=lfs -text lockable
*.sldprt filter=lfs diff=lfs merge=lfs -text lockable
*.step filter=lfs diff=lfs merge=lfs -text lockable
*.stl filter=lfs diff=lfs merge=lfs -text lockable
*.wrl filter=lfs diff=lfs merge=lfs -text lockable
*.x_t filter=lfs diff=lfs merge=lfs -text lockable
*.3mf filter=lfs diff=lfs merge=lfs -text lockable
*.amf filter=lfs diff=lfs merge=lfs -text lockable
*.lin filter=lfs diff=lfs merge=lfs -text lockable
*.sat filter=lfs diff=lfs merge=lfs -text lockable
*.ste filter=lfs diff=lfs merge=lfs -text lockable
*.sym filter=lfs diff=lfs merge=lfs -text lockable
*.xmt_bin filter=lfs diff=lfs merge=lfs -text lockable
*.xmt_txt filter=lfs diff=lfs merge=lfs -text lockable
*.x_ filter=lfs diff=lfs merge=lfs -text lockable

*.catpart filter=lfs diff=lfs merge=lfs -text lockable
*.catproduct filter=lfs diff=lfs merge=lfs -text lockable
*.3ds filter=lfs diff=lfs merge=lfs -text lockable
*.asm filter=lfs diff=lfs merge=lfs -text lockable
*.cam filter=lfs diff=lfs merge=lfs -text lockable
*.cgr filter=lfs diff=lfs merge=lfs -text lockable
*.hsf filter=lfs diff=lfs merge=lfs -text lockable
*.model filter=lfs diff=lfs merge=lfs -text lockable
*.neu filter=lfs diff=lfs merge=lfs -text lockable
*.par filter=lfs diff=lfs merge=lfs -text lockable
*.psm filter=lfs diff=lfs merge=lfs -text lockable
*.u3d filter=lfs diff=lfs merge=lfs -text lockable
*.jt filter=lfs diff=lfs merge=lfs -text lockable

*.nc filter=lfs diff=lfs merge=lfs -text lockable
*.gcode filter=lfs diff=lfs merge=lfs -text lockable
*.cnc filter=lfs diff=lfs merge=lfs -text lockable
*.tap filter=lfs diff=lfs merge=lfs -text lockable
*.mpf filter=lfs diff=lfs merge=lfs -text lockable

*.fea filter=lfs diff=lfs merge=lfs -text lockable
*.fem filter=lfs diff=lfs merge=lfs -text lockable
*.sldcos filter=lfs diff=lfs merge=lfs -text lockable
*.sldflw filter=lfs diff=lfs merge=lfs -text lockable
*.sldfpp filter=lfs diff=lfs merge=lfs -text lockable
*.sldmot filter=lfs diff=lfs merge=lfs -text lockable

*.bin filter=lfs diff=lfs merge=lfs -text lockable
*.gbr filter=lfs diff=lfs merge=lfs -text lockable
*.drl filter=lfs diff=lfs merge=lfs -text lockable
*.tif filter=lfs diff=lfs merge=lfs -text lockable
*.tiff filter=lfs diff=lfs merge=lfs -text lockable
*.psd filter=lfs diff=lfs merge=lfs -text lockable
*.ai filter=lfs diff=lfs merge=lfs -text lockable
*.mp4 filter=lfs diff=lfs merge=lfs -text lockable
*.mov filter=lfs diff=lfs merge=lfs -text lockable
*.avi filter=lfs diff=lfs merge=lfs -text lockable

*.sldepdm filter=lfs diff=lfs merge=lfs -text lockable
*.sdoc filter=lfs diff=lfs merge=lfs -text lockable
*.sldpdb filter=lfs diff=lfs merge=lfs -text lockable
*.sldsimresults filter=lfs diff=lfs merge=lfs -text lockable
